.honorable-section {
  @apply py-[120px];

  .wrapper {
    @apply container grid grid-cols-4;

    .tab-list {
      @apply flex flex-col;

      .title {
        @apply mb-[50px];

        span {
          @apply text-textPrimary uppercase;
        }

        h3 {
          @apply text-5xl text-white font-bold;
        }
      }

      .tab-header {
        @apply py-[7px] text-left outline-0;

        & > span {
          @apply relative text-[14px] text-left uppercase text-white;

          &:after {
            @apply absolute z-7 top-[50%] -right-2 opacity-0 transform translate-y-[-50%];
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #FFC576;
            content: '';
            transition: all 0.5s;
          }
        }

        &:hover {
          & > span {
            @apply text-textPrimary;

            &:after {
              @apply -right-6 opacity-100;
            }
          }
        }

        &.selected {
          & > span {
            @apply text-textPrimary;

            &:after {
              @apply -right-6 opacity-100;
            }
          }
        }
      }
    }

    .tab-panels {
      @apply col-span-3;

      .tab-panel {
        @apply grid grid-cols-3 gap-4 grid-rows-2;

        img {
          @apply w-full h-full object-cover;
        }
      }
    }
  }
}