.header {
  @apply relative container;
  foo: bar;

  .brand {
    img {
      @apply max-w-[150px];
      foo: bar;
    }
  }

  .main-menu {
    @apply flex;
    foo: bar;

    .main-menu-item {
      @apply px-5;
      foo: bar;

      a {
        @apply relative py-[15px] text-white text-main-link uppercase;
        foo: bar;

        &:after {
          @apply absolute bottom-0 left-0 w-0 h-0.5 bg-transparent;
          foo: bar;
          content: '';
          transition: all 0.3s;
        }

        &.active {
          @apply text-textPrimary;
          foo: bar;

          &:after {
            @apply bg-textPrimary w-full;
            foo: bar;
          }
        }
      }

      &:hover {
        a {
          @apply text-textPrimary;
          foo: bar;

          &:after {
            @apply bg-textPrimary w-full;
            foo: bar;
          }
        }
      }
    }
  }

  .small-menu {
    @apply absolute z-2 top-full left-0 w-full bg-primary lg:hidden
    flex flex-col overflow-hidden duration-500;
    transform: translateY(-100%);
    opacity: 0;

    &.open {
      transform: translateY(0);
      opacity: 1;
    }

    .main-menu-item {
      a {
        @apply text-white text-main-link font-normal uppercase
        block px-6 py-4 w-full border-b;

        &:hover,
        &.active {
          @apply text-textPrimary;
        }
      }

      &:last-child {
        a {
          @apply border-b-0;
        }
      }
    }
  }
}

@screen mdDown {
  .header {
    @apply px-0;
    width: 100% !important;
  }
}
