.social-media-section {
  @apply bg-[#23263c] py-[120px];
  foo: bar;

  .title {
    @apply mb-[50px];
    foo: bar;

    span {
      @apply text-textPrimary uppercase;
      foo: bar;
    }

    h3 {
      @apply text-5xl text-white font-bold;
      foo: bar;
    }
  }
}

.social-media-card {
  &:hover {
    @apply bg-textPrimary;
    transition: all 0.3s;

    p {
      @apply text-black;
      foo: bar;
    }

    svg {
      @apply text-iconColor;
      foo: bar;
    }
  }

  svg {
    @apply w-[40px] h-auto text-textPrimary transition-all duration-1000;
    foo: bar;
  }
}