.design {
  @apply relative w-[100vw] h-[100vh] flex flex-col justify-between;

  .img1, .img2 {
    @apply absolute z-2 w-auto;
  }

  .img1 {
    @apply h-[100vh] top-0 left-[40vw];
  }

  .img2 {
    @apply h-[100vh] top-0 right-[10vw];
  }

  .background {
    @apply absolute z-3 w-[100vw] h-[100vh] bg-[#000000] opacity-50;
  }

  .banner {
    @apply z-4 py-6 bg-textPrimary text-center;

    span {
      @apply text-6xl font-bold uppercase;
    }
  }

  .title {
    @apply absolute top-[15vh] right-0 z-4;

    img {
      @apply w-full h-auto;
    }

    span {
      @apply text-center absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-3xl font-bold;
    }
  }

  .icons {
    @apply flex justify-center z-4 mb-4 space-x-6;

    img {
      @apply w-[70px] h-[70px];
    }
  }

  .person {
    @apply z-5 relative left-[5vw] w-[500px] h-[500px] rounded-full overflow-hidden;
    background-position: center;
    background-size: cover;
    background-image: url("../../../assets/images/thien.jpg");
  }
}