.side-tab-section {
  @apply py-[120px];
  foo: bar;

  .wrapper {
    @apply container flex flex-col md:grid grid-cols-4;
    foo: bar;

    .tab-list {
      @apply flex flex-col mb-4 md:mb-0;
      foo: bar;

      .title {
        @apply mb-[50px];
        foo: bar;

        span {
          @apply text-textPrimary uppercase;
          foo: bar;
        }

        h3 {
          @apply text-5xl text-white font-bold;
          foo: bar;
        }
      }

      .tab-header {
        @apply py-[7px] text-left outline-0;
        foo: bar;

        & > span {
          @apply relative text-[14px] text-left uppercase text-white;
          foo: bar;

          &:after {
            @apply absolute z-7 top-[50%] -right-2 opacity-0 transform translate-y-[-50%];
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #FFC576;
            content: '';
            transition: all 0.5s;
          }
        }

        &:hover {
          & > span {
            @apply text-textPrimary;

            &:after {
              @apply -right-6 opacity-100;
              foo: bar;
            }
          }
        }

        &.selected {
          & > span {
            @apply text-textPrimary;
            foo: bar;

            &:after {
              @apply -right-6 opacity-100;
              foo: bar;
            }
          }
        }
      }
    }

    .tab-panels {
      @apply col-span-3;
      foo: bar;

      .tab-panel {
        @apply grid grid-cols-2 grid-rows-3 md:grid-cols-3 md:grid-rows-2 gap-4;
        foo: bar;

        img {
          @apply w-full h-full object-cover;
          foo: bar;
        }
      }
    }
  }
}