.customer-section {
  @apply bg-third py-[120px];
  foo: bar;

  @screen mdDown {
    padding-left: calc((100% - 750px)/2 + 15px);
  }

  @screen smDown {
    @apply pl-[15px];
    foo: bar;
  }

  @screen xsDown {
    @apply px-[15px];
    foo: bar;
  }

  .custom-slide-header {
    @apply flex justify-between items-center mb-[50px];
    foo: bar;

    @screen mdDown {
      padding-right: calc(100% - 750px + 15px);
    }

    @screen smDown {
      @apply pr-[15px];
      foo: bar;
    }

    .title {
      span {
        @apply text-textPrimary uppercase;
        foo: bar;
      }

      h3 {
        @apply text-5xl text-white font-bold;
        foo: bar;
      }
    }
  }

}


.btn {
  @apply h-[50px] w-[50px] border border-textPrimary
  flex justify-center items-center text-[rgba(255,255,255,0.5)];
  foo: bar;

  &:hover {
    @apply bg-textPrimary text-black;
    transition: all 0.3s;
  }

  &.prev-btn {
    @apply rounded-l;
    foo: bar;
  }

  &.next-btn {
    @apply rounded-r;
    foo: bar;
  }
}

