.customer-section {
  @apply bg-third py-[120px];
  foo: bar;

  .title {
    span {
      @apply text-textPrimary uppercase;
      foo: bar;
    }

    h3 {
      @apply text-5xl text-white font-bold;
      foo: bar;
    }
  }
}


.btn {
  @apply h-[50px] w-[50px] border border-textPrimary
  flex justify-center items-center text-[rgba(255,255,255,0.5)];
  foo: bar;

  &:hover {
    @apply bg-textPrimary text-black;
    transition: all 0.3s;
  }

  &.prev-btn {
    @apply rounded-l;
    foo: bar;
  }

  &.next-btn {
    @apply rounded-r;
    foo: bar;
  }
}

